<%= content_for(:title, "Edit | National Superhero Registry") %>

<h1>Edit superhero</h1>

<%= render('form') %>

<%= link_to "Return to superhero listings", superheros_path, :class=> "btn btn-default" %>
