<%= content_for(:title, "New | National Superhero Registry") %>

<h1>New superhero</h1>

<%= render('form') %>

<%= link_to "Return to superhero listings", superheros_path, :class=> "btn btn-default" %>
