<%= content_for(:title, "New | National Superhero Registry") %>

<h1>New Superhero</h1>

<%= render('form') %><br>

<%= link_to "Return To Superhero Listings", superheros_path, :class=> "btn btn-default" %>
